{% extends 'base.html.twig' %}

{% block title %}Author Details{% endblock %}

{% block body %}
<h1>Book</h1>
<p>Title of book :{{book.title }}</p>
<p>Publication date :{{book.publicationDate|date('d-m-Y') }}</p>
<p>Author :{{book.author.username}}</p>



{% endblock %}